<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nyaasearch</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>4D27F585-6235-448D-A48A-9E43FD25DEDD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0BB2313-095D-451D-9584-9B3050C2516B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4DEDFCEB-44F3-4CB6-BF0A-9BADACCFC8D4</key>
		<array/>
		<key>4F45893D-B110-43B8-8665-B86FE1635149</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA9CD05F-EB32-4048-9EB2-1B9C52E13081</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B0BB2313-095D-451D-9584-9B3050C2516B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DAAB5EC3-4090-4440-AE99-0EFEBF5E01BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B40A4E57-FDC4-4B70-AA86-B527323FA6DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DEDFCEB-44F3-4CB6-BF0A-9BADACCFC8D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4F45893D-B110-43B8-8665-B86FE1635149</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy in your clipboard</string>
			</dict>
		</array>
		<key>EAF0D4C0-5441-4EFC-98BB-1FE531B0852E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54A52A2D-813B-4D31-881F-4D7AD4273181</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ankirama</string>
	<key>description</key>
	<string>Search torrents from nyaa.se</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Nyaa Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>nyaa</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait...</string>
				<key>script</key>
				<string>python nyaa.py "{query}"</string>
				<key>subtext</key>
				<string>Write your query...</string>
				<key>title</key>
				<string>Search torrents on nyaa.se and download it</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B40A4E57-FDC4-4B70-AA86-B527323FA6DD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python nyaa.py --open "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4DEDFCEB-44F3-4CB6-BF0A-9BADACCFC8D4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>AA9CD05F-EB32-4048-9EB2-1B9C52E13081</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python nyaa.py --copy "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F45893D-B110-43B8-8665-B86FE1635149</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Configuration saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DAAB5EC3-4090-4440-AE99-0EFEBF5E01BB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python nyaa.py --register "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B0BB2313-095D-451D-9584-9B3050C2516B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>nyaareg</string>
				<key>subtext</key>
				<string>Register your server: address port [user] [password]</string>
				<key>text</key>
				<string>Register your transmission server</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4D27F585-6235-448D-A48A-9E43FD25DEDD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nyaares</string>
				<key>subtext</key>
				<string>It will remove all your data like server address</string>
				<key>text</key>
				<string>Reset your transmission configuration</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EAF0D4C0-5441-4EFC-98BB-1FE531B0852E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python nyaa.py --reset</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>54A52A2D-813B-4D31-881F-4D7AD4273181</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4D27F585-6235-448D-A48A-9E43FD25DEDD</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>4DEDFCEB-44F3-4CB6-BF0A-9BADACCFC8D4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4F45893D-B110-43B8-8665-B86FE1635149</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>54A52A2D-813B-4D31-881F-4D7AD4273181</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>AA9CD05F-EB32-4048-9EB2-1B9C52E13081</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B0BB2313-095D-451D-9584-9B3050C2516B</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>B40A4E57-FDC4-4B70-AA86-B527323FA6DD</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DAAB5EC3-4090-4440-AE99-0EFEBF5E01BB</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>EAF0D4C0-5441-4EFC-98BB-1FE531B0852E</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://hellworldz.com</string>
</dict>
</plist>
